[2014-02-11 18:13] devsnd opened #2 "implement VBR mp3 length estimation"
The correct length of an mp3 file canonly be estimated, if the whole file was parsed. This is very expensive.

Implement an estimation algorithm to speed up length detection.

[2014-02-18 09:26] ibeex opened #3 "UnicodeDecodeError on my mp3"
hi, when I do `info = TinyTag.get('my.mp3')` i get this error
I can provide mp3

[code]

[2014-02-18 11:39] #3 closed, assigned to nobody

[2014-03-01 19:46] #2 closed, assigned to nobody

[2014-03-21 14:59] rizumu opened #5 "Additional Metadata"
It'd be nice to get some additional metadata about the file:
info.audio_offset
info.bitrate
info.duration
info.size
info.audio_size
info.comment
info.genre
info.sample_rate

see: http://www.hardcoded.net/docs/hsaudiotag/usage.html#available-attributes

[2014-03-24 20:42] #5 closed, assigned to nobody

[2014-04-08 08:20] Altynai opened #7 "README.md has a tiny spelling mistake"
hi, when I read the list of possible attributes that I can get with TinyTag, I find a tiny spelling mistake. The detailed info is as follows:

I think the `sonf` should be `song` : )

[2014-04-08 13:14] #7 closed, assigned to nobody

[2014-06-28 15:51] rizumu opened #10 "0.6.1 not on pypi"
Seems the most recent version never made it to pypi.

[code]

Note, it can be worked around with `pip install https://github.com/devsnd/tinytag/archive/0.6.1.tar.gz`, but best to check your deploy steps to figure out why it isn't finding it from pypi.

[2014-06-30 12:23] #10 closed, assigned to nobody

[2014-08-26 03:40] justanr opened #11 "ID3 improperly decodes."
I encountered this issue while parsing over some of my MP3 (I haven't tested this on other formats). The issue presents in all text fields.

[code]

I receive `\x03 END OF TEXT` at this beginning of each string data point (always happens, at least on the handful of albums I've tested on) as well as a garbled decode on `-`. I believe the issue is related to `ID3` making the decision on how to decod

[2014-09-01 20:13] devsnd opened #12 "wrong duration for long flac files"
when decoding flac duration everything is fine down to the millisecond, as long as the file is short. files longer than a few minutes already show a much too low duration for the track.

[2014-09-01 20:44] #12 closed, assigned to nobody

[2014-09-29 23:09] #11 closed, assigned to nobody

[2014-10-24 11:42] tilboerner opened #14 "Crash from reading non-ascii metadata (ID3v1)"
Found this in my _cherrymusic/error.log_:

[code]

I don't have access to the live output of the server session right now, or I'd look up which file's responsible.

Anyway, I suppose you can recognize this from the occasional "error getting song metadata" in cherrymusic.

[2014-10-24 23:54] #14 closed, assigned to nobody

[2014-11-26 23:56] tilboerner opened #15 "ZeroDivision in Flac._determine_duration"
I have a flac file that raises a `ZeroDivisionError` when its duration is parsed:

[code]

To recreate: I created the flac by transcoding it from mp3 with `python-audiotranscode`.  The mp3 has a duration of about 2:45\*; the flac file plays just fine (and completely), except the duration remains unknown in the player I've tried (audacious).

[code]

As a fallback for when the duration remains unkn

[2015-04-02 18:46] devsnd opened #16 "Read images from ID3v2 Tags"
The `APIC` field probably contains the cover image within a ID3 tag. See:
https://en.wikipedia.org/wiki/ID3#ID3v2_frame_specification_.28Version_2.3.29

It should be possible to read this information here: https://github.com/devsnd/tinytag/blob/master/tinytag/tinytag.py#L254

The best way to tackle this without a major performance hit is probably to introduce 2 private fields that include the offs

[2015-04-03 17:59] #16 closed

[2015-04-10 12:35] #15 closed

[2015-05-10 11:12] tilboerner opened #17 "Use correct character encoding when reading ID3 tags"
ID3 tags are not always decoded correctly, see [CherryMusic issue #536](https://github.com/devsnd/cherrymusic/issues/536).

Since commit 1c53058ab1781b07cd7f86f01793345c8ab41839, `latin1` is used for decoding instead of `ascii`. If possible, tinytag should make an effort to determine the proper encoding to use, before falling back to a default. Bonus points for making the fallback encoding a param

[2015-05-17 17:50] #17 closed

[2015-06-07 23:54] systems-rebooter opened #18 "m4a/mp4 support"
Hey @devsnd,

Can you add m4a / mp4 support to tiny?

[2015-06-30 23:07] daboross opened #19 "Album and track names longer than 30 characters are truncated"
For instance, `tag.album` gives `'The Double EP: A Sea of Split '` rather than `'The Double EP: A Sea of Split Peas'`. The album name is correctly determined by other programs such as easytag or rythmbox, so I believe it to be correctly encoded in the file.

Edit: seems to occur for track names as well.

[2015-07-19 13:06] devsnd commented on #19
Hi Dabo!

sorry for the long wait! Can you upload a track that shows this behavior so I can easily reproduce it? (My bet is on mixed ID3v1/ID3v2 tags...)

Thanks!

[2015-07-21 04:13] daboross commented on #19
The album name is truncated on this one: https://copy.com/slrXoFEZaZctArH7

[2015-10-12 20:39] devsnd commented on #19
Hey Dabo,

sorry, it took me about three million years to get to this issue and it seems i cannot download the sample from the link anymore or the website is broken... Anyway, would you be so kind and upload it again somewhere?

[2015-10-12 21:09] andpp opened #21 "Speed up TinyTag with MP3 processing"
As you propose, we continue our discussion here.
@devsnd "Maybe we could add the following ability to TinyTag: If there are e.g. 5 consecutive frames with the same bitrate, we assume it's CBR and stop."

This is the way mp3info works with CBR MP3 files. And I have to change the way mp3info calculates the play time because nether TinyTag nor mp3info cannot calculate correct time for my 22050/mono M

[2015-10-21 13:51] devsnd commented on #21
Can you please provide the mono mp3 you've been using? I added a 22khz mono mp3 to the test suite and it worked for me.

[2015-10-21 17:38] devsnd commented on #21
Hey Andrey,

I have improved tinytag to stop after 5 consectutive frames and then assume that it's CBR. (This might go wrong for some tracks with a very quiet intro, so we should test this a bit more before I release this as a new version). This makes tinytag about 5 to 6 times faster than mp3info for CBR tracks and as fast as mp3info for VBR tracks.

Also tinytag is now more accurate than before

[2015-10-21 19:27] andpp commented on #21
Hi Tom!

  I tried your new version. I still get wrong time. Here is my records. Could you try it.   https://drive.google.com/folderview?id=0B-rCqP_KhU_CWlBLUi0xRTFXYkk&usp=sharing

[2015-12-09 00:00] devsnd commented on #21
Hey Andrey,

It took me some time to get back to this, but now I've implemented support for all mpeg versions and layers and furthermore correctly calculate all sample rates and bitrates for each combination.

If you try the newest version of tinytag, you should get correct time readings now. I still have to make a new version and update it in cherrymusic, but my tests work fine for the at least o

[2016-01-20 22:10] MadEgg opened #24 "Read disc number / total number of discs?"
Thanks for the great library. I'm using it to build a script to automatically file audio files in a correct location and it's been really helpful.

However, I have several multiple-disc albums where track numbers are duplicated on each disc. The actual disc number is stored in the disc number part of the track. However, tinytag doesn't seem to read this information. Any chance for adding this in a

[2016-01-21 10:37] devsnd commented on #24
Hi Egbert,

All the resources on which tinytag are based are linked in the source code, you can find most specifications of the formats next to the functions/classes that implement their parsers.

What kind of audio data are you dealing with? TinyTag makes it seems as if all meta-data was the same, but actually the formats of the meta-data differs enormously between file formats.

Also, can you pl

[2016-01-21 17:30] MadEgg commented on #24
I understand that. The most recent example was using FLAC audio, but I do have several occasions of the same situation in MP3. I'm not sure if all file formats support the 'disc number' tag, but it would be great to extract this data when it's available.

Due to copyright issues I can't share the media file in question, but it shouldn't be a problem to forge a sample. I'll look into it shortly.

I

[2016-01-21 18:04] MadEgg commented on #24
I found the info in the docs in the source code and did an initial attempt to parse the data in: b00471516df849cda934766b8e0e69ff9761c072

I need to test if it works correctly, but I need to gather samples for all supported formats first. It seems that disc number is supported in WMA (WM/PartOfSet), OGG (not officially but de facto as DISCNUMBER) and ID3v2 (as TPOS). That leaves it unavailable in

[2016-01-21 21:28] MadEgg commented on #24
I put together some short samples that I found randomly on the internet of WMA, OGG, FLAC and MP3. I used a program called Mp3tag to add track numbers and disc numbers to all of them, and used these to test it. Some bugs remained, which I fixed in commit 26f8cd92fb433d35ce7f549660e71415d33183d3 - this one reads the disc number in all of them. I moved some code around to parse the track number / to

[2016-01-23 13:54] devsnd commented on #24
Hey Egbert,

Thanks for the patch, it looks very good, you even took the time to properly refactor everything, nice :)

Before I release a new version with your changes, I will create new test samples from the samples you gave me; I will have to reduce their size before I can check them in.

Anyway, thank you very much for helping, I appreciate it!

[2016-01-26 14:53] tuankiet65 commented on #19
Hmmm, that's weird considering that I can download that sample (I have reuploaded to my Dropbox though https://www.dropbox.com/s/mfsjyjavjnyx3dr/01.01%20-%20Out%20of%20the%20Woodwork.mp3?dl=0)

The bug is still there unfortunately:
[code]
![screenshot from 2016-01-26 21-16-31](https://cloud.githubusercontent.com/assets/1905496/12582839/1f0d7d9c-c472-11e5-97c6-680f7ed5bafe.png)

[2016-02-01 21:02] devsnd commented on #24
Hey Egbert, I tested it and released a new version 0.11.0 on pypi.

Thanks again for the help :)

[2016-02-01 21:02] #24 closed

[2016-02-01 21:15] MadEgg commented on #24
Great, thanks!

[2016-02-02 21:07] devsnd commented on #21
Closing: TinyTag now supports the Xing header and is as fast as other parsers.

[2016-02-02 21:07] #21 closed

[2016-02-02 22:25] #19 closed

[2016-02-02 22:35] devsnd commented on #19
Hey Ho Tuan Kiet, hey Dabo,

Thanks again for helping, I found the bug, It could not correctly read ID3v2.4 tags because it assumed that v2.4 would not use synchsafe bytes (bytes in which the MSB is always set to 0).

Well, who cares about the technical details? It should work now. And as a special bonus I also fixed how the genre is read. Look at the screenshot above. See the genre? Its `40`. But

[2016-03-28 05:03] domingobernardo opened #30 "found (and fixed) a bug in the _set_field function"
This is my first time using tinytag
I have a collection of 75000 mp3s
Turns out that one of the files had 1/4/4/4/4/4 stored in the "disc" tag
which made _set_field crash

If you change the lines from
               current, total = str(value).split('/')  #which of course only works if the value is xx/xx

to this:
                splits = str(value).split('/')
                current, total = spli

[2016-03-28 08:01] devsnd commented on #30
hey Domingo!

thanks a lot for your report and fix. before I include this fix in tiny tag, I'd like to be sure that the data is valid in this case. so are the first two numbers of the 4/4/4/4 really the indicator that this track is on the 4th disc of 4, or is it indeed wrong information?

tom

On March 28, 2016 7:03:37 AM CEST, domingobernardo <notifications@github.com> wrote:

[2016-03-29 18:37] domingobernardo commented on #30
It should be disc 1 of 4 ; like this 1/4
but someone changed it to 1/4/4/4/4/4/4

On Mon, Mar 28, 2016 at 4:01 AM, Tom Wallroth <notifications@github.com>
wrote:

--
Domingo "Chip" Bernardo
Okeechobee, Florida, USA
Orotina, Alajuela, Costa Rica

[2016-03-31 13:07] domingobernardo commented on #30
Dear Tom,
I setup a logger in tinytag and ran it with another collection that had
79,000 files
The errors are logged in the attached file (assuming github will accept an
attached file)

I don't know enough about the file formats to understand what exactly is
causing the error, otherwise I would gladly offer a solution

Domingo

On Tue, Mar 29, 2016 at 2:37 PM, Domingo Bernardo <
domingopbernardo@g

[2016-04-02 15:06] devsnd commented on #30
Hey Domingo,

You attachment does not see to have arrived... Could you please upload the log to pastebin or something?

tom

[2016-04-02 15:09] #30 closed

[2016-04-02 15:10] devsnd commented on #30
I have fixed the initial bug. I will release another version of tinytag later this day!

[2016-04-02 21:19] domingobernardo commented on #30
Ok
Will do

-----Original Message-----
From: "Tom Wallroth" <notifications@github.com>
Sent: ‎4/‎2/‎2016 11:06
To: "devsnd/tinytag" <tinytag@noreply.github.com>
Cc: "domingobernardo" <domingopbernardo@gmail.com>
Subject: Re: [devsnd/tinytag] found (and fixed) a bug in the _set_fieldfunction (#30)

Hey Domingo,
You attachment does not see to have arrived... Could you please upload the log to pasteb

[2016-04-02 21:20] domingobernardo commented on #30
Awesome

-----Original Message-----
From: "Tom Wallroth" <notifications@github.com>
Sent: ‎4/‎2/‎2016 11:10
To: "devsnd/tinytag" <tinytag@noreply.github.com>
Cc: "domingobernardo" <domingopbernardo@gmail.com>
Subject: Re: [devsnd/tinytag] found (and fixed) a bug in the _set_fieldfunction (#30)

I have fixed the initial bug. I will release another version of tinytag later this day!
—
You are receiv

[2016-04-02 23:15] domingobernardo commented on #30
Dear Tom,

Try looking here for the log file:
https://drive.google.com/open?id=0B06Jnn025RCcNVlXbGVCbncxWGM

if github breaks that up
https
drive.google.com
open?id=
0B06Jnn025RCcNVlXbGVCbncxWGM

On Sat, Apr 2, 2016 at 11:06 AM, Tom Wallroth <notifications@github.com>
wrote:

--
Domingo "Chip" Bernardo
Okeechobee, Florida, USA
Orotina, Alajuela, Costa Rica

[2016-04-03 21:26] devsnd commented on #30
Thanks for the log, Domingo!

BTW: I released a new version with includes the fix (0.13.1) for this one problem.

The entries in your log seem to show some errors that occur when the files contain an invalid sample_rate for a certain mpeg versions etc. Some of those errors I can fix using the information from the log, other however not.

I will try to reproduce these errors in my music collection,

[2016-04-04 16:51] tuankiet65 opened #31 "self.samplerate is None when reading Ogg with Opus codec"
Python output:
[code]

FFprobe output:
[code]

The file in question: [music.zip](https://github.com/devsnd/tinytag/files/202899/music.zip)

[2016-05-19 22:33] lesthack commented on #18
+1

[2016-05-23 06:57] devsnd commented on #18
MP4 support is mostly implemented in the feature/mp4 branch. Not all mp4 files are working so this isn't merged into the master yet...

https://github.com/devsnd/tinytag/tree/feature/mp4

[2016-05-23 07:39] systems-rebooter commented on #18
Great! Welcome back! :]

[2016-06-05 12:35] #18 closed

[2016-06-05 12:35] #31 closed

[2016-06-05 12:38] devsnd commented on #31
Hey Ho Tuan Kiet,

Thanks a lot for your bug report! Instead of just catching the error I instead implemented ful blown Opus support. Thanks also for the music sample, that helped a lot! The fix is already merged into the master, but I still need to release a new version in a few minutes once the [tests on travis](https://travis-ci.org/devsnd/tinytag) run through.

Have a nice day and have some ic

[2016-06-05 14:55] tuankiet65 commented on #31
Thanks for that! I though this ticket would go unnoticed but it didn't :+1:

[2016-06-27 16:53] azadkuh opened #32 "get_image() fails on m4a"
as far as i've checked the `feature/mp4` has been merged back into `master`. the  `get_image()` fails on `m4a` files:
[code]

[2016-07-11 06:56] devsnd commented on #32
Ah yes, I forgot to finish the implemention of that one, but most of it is already in place, see https://github.com/devsnd/tinytag/blob/master/tinytag/tinytag.py#L287 (Removing the comment in this line should enable image parsing)

The problem here is that if I'd just enable it like that, the image will always be parsed and put into memory (the image *might* be huge). So I have to rewrite this par

[2016-07-11 10:20] azadkuh commented on #32
I like to replace `mutagen` / `eyeD3` with `tinytag` in my repo: [cmus-osx](https://github.com/azadkuh/cmus-osx)

gr8, will try line:287.
thank you.

[2016-08-02 21:37] jdupl opened #33 "Flac handler can't ignore ID3 header"
Some FLAC files also have an ID3 header. It can be ignore by skipping the ID3 header when [this line](https://github.com/devsnd/tinytag/blob/master/tinytag/tinytag.py#L795) fails.

[2016-08-05 15:47] ktkchn opened #34 "utf-8 error"
I get this error with some unicode song titles.MP4Box was used to pack the m4a file
and the title is "Cold Water (feat. Justin Bieber & MØ)".
UnicodeDecodeError: 'utf8' codec can't decode byte 0x92 in position 34: invalid start byte
Any help is appreciated.

[2016-08-05 15:50] devsnd commented on #33
Hello Justin,

Thanks for the report! Cam you please upload the FLAC file somewhere so I can reproduce the bug? Thanks!

[2016-08-05 15:52] devsnd commented on #34
Hello @ktkchn,

thanks for reporting! Can you please upload the mp4 file somewhere so i can reproduce the bug? thanks!

[2016-08-05 16:19] ktkchn commented on #34
hello @devsnd

I have uploaded the m4a file here
https://drive.google.com/file/d/0B4rXGVsThTq6UjBEcjZCX29aWFU/view?usp=sharing

thanks

[2016-08-06 08:59] devsnd commented on #34
Hey @ktkchn,

I have reproduced the bug and also found out why TinyTag crashes; The file you provided is malformed and does not adhere to the spec. [Apples specification for MP4](https://developer.apple.com/library/mac/documentation/QuickTime/QTFF/Metadata/Metadata.html#//apple_ref/doc/uid/TP40000939-CH1-SW34) allows strings only to be encoded using UTF-8. The file you provided seems to use ISO-88

[2016-08-06 09:05] devsnd commented on #34
I have released a [new version 0.15.2](https://pypi.python.org/pypi/tinytag) that includes this fix.

[2016-08-06 09:05] #34 closed

[2016-08-06 09:56] devsnd commented on #32
Hey Amir,

I just [released version 0.16.0](https://pypi.python.org/pypi/tinytag) which comes with MP4 image support built in!

[2016-08-06 09:56] #32 closed

[2016-08-06 12:09] ktkchn commented on #34
thank you!

[2016-08-07 05:32] azadkuh commented on #32
`tinytag` in: [cmus-osx](https://github.com/azadkuh/cmus-osx/releases/tag/v1.2.0)

[2016-08-26 14:30] martmists opened #35 "tinytag unable to process valid mp3"
I was trying to use `tinytag.TinyTag.get(filename)`, but it errored and said
`tinytag.tinytag.TinyTagException: mp3 parsing failed`.
Now I get that this means the mp3 is invalid, but the weird thing is:
It works with ffplay, VLC and WMP (and probably all music playing software)

File was downloaded using youtube_dl, not sure if that matters.

[code]

[2016-08-31 06:06] devsnd commented on #35
Hey @martmists!

Thanks for your report. Can you please provide the file by sending it to my email address, tomwallroth [aŧ] gmail [døt] com

Without the file it will be hard to reproduce the problem. Once I have it, I can have a look at it.

[2016-09-08 09:08] kurdyak commented on #35
Hi, I have the same error using tinytag.TinyTag.get(filename)

`Traceback (most recent call last):
  File "test.py", line 127, in <module>
    tag = TinyTag.get('/tmp/temp.mp3')
  File "/usr/local/lib/python2.7/dist-packages/tinytag/tinytag.py", line 105, in get
    tag.load(tags=tags, duration=duration, image=image)
  File "/usr/local/lib/python2.7/dist-packages/tinytag/tinytag.py", line 126, in

[2016-10-02 14:26] Timetopretend opened #36 "Can't get cover art from mp3 files with ID3 v2.2"
Hi,

I can't get the cover art of few audio files.
The get_image () method does not detect. I can provide the file by e-mail
Otherwise I want to **thank you** for this library, very efficient and convenient. (I have made some benchmarks tests against others and this one is very fast)

Email sent to tomwallroth ...

[2016-10-02 17:45] devsnd commented on #36
Hey Rc,

I've received the files and also found the culprit; TinyTag is not yet capable of parsing image from ID3 v2.2 tags. I'm on it :penguin:

[2016-10-02 17:47] devsnd commented on #35
Hey @kurdyak,

please send the failing file to the email address as described above, thanks.

[2016-10-02 17:54] Timetopretend commented on #36
Great, I will follow it closely. :+1:

[2016-10-02 18:41] devsnd commented on #36
Hey @Timetopretend,

I have implemented the changes necessary to parse your mp3 files and to read images from ID3v2.2.

But only one of the two samples you provided actually contained an image (GCCH.mp3), this other (QJWS.mp3) did not, not only according to my analysis, but also according to VLC.

The file does not contain any JPEG data:

    grep JFIF ./QJWS.mp3

Anyway, thanks for your report an

[2016-10-02 18:41] #36 closed

[2016-10-02 19:33] Timetopretend commented on #36
So fast !
Oddly, Vlc shows me a picture to the second file... I will investigate !
I'll do the update immediately

Have a nice day ! :sun_with_face:

[2016-10-03 07:24] kurdyak commented on #35
Thank you for your replay!
I've sent you the file to your email.

[2016-11-07 11:39] findix commented on #35
I got this problem too. I will send the files to you.
Thank you for your code and sharing :)

[2016-12-20 18:05] andyortlieb opened #37 "Duration is doubled in mp3 files"
Just a thought: Could it be that duration needs to be divided by number of channels?

[2016-12-20 22:15] devsnd commented on #37
Hello andyortlieb,

No, the channels are already considered for the duration. It could however be that you have an mp3 with an rare samplerate that isnt handled correctly. Can you please provide some samples and upload them or send them to my email address ```tomwallroth [aŧ] gmail [døt] com```

[2017-04-21 16:46] AntiSol opened #39 "bitrate is in bps (not kbps) for VBR mp3 files"
Hi,

Any VBR mp3 file I point tinytag at gives me a bitrate value which is about 1000x what audio software reports. I expect that this value is bps rather than kbps.

For example, for the file at (https antisol dot org slash brass dot mp3), tinytag gives me a bitrate value of 195206.785168, whereas various audio software reports the file as being 195kbps, including:
* audacious
* qmmp
* vlc ('inpu

[2017-04-24 16:44] re1 opened #40 "ZeroDivisionError when duration is 0"
Got a ZeroDivisionError while processing this:
[code]

Traceback can be found here:
[code]

You may want to add some error-handling to avoid compatibility problems, I can fix it for you if you want to.

[2017-04-25 18:06] devsnd commented on #40
Thanks for your report!

Feel free to make PR if you have the time. As I am really busy right now, I can only take a look at it on the weekend!

[2017-04-25 18:09] devsnd commented on #39
Hey Dale,

Thanks for your report! Could you please provide a sample (upload it somewhere or send it to my email tomwallroth [aŧ] gmail [døt] com)that shows this issue so I can fix it and also include the fix into the test suite? I will only get around to do this on the weekend however.

[2017-04-27 06:35] AntiSol commented on #39
[code]

brass.mp3 is the file i linked to in my report. The output will be "bitrate: 195206.785168", where the reported bitrate should be ~195.

Also note that in the code I provided in my bug report, "1099" should be "1000"

[2017-04-27 06:37] AntiSol commented on #39
Also note that using "bitrate > 320" is not ideal and may not work for all codecs, e.g FLAC is probably encoded at a higher bitrate. I used 320 because it's the highest bitrate you see on MP3 files. A better test would be to check if the file is VBR.

[2017-04-27 16:04] devsnd commented on #39
Hey Dale,

you're right, I just reproduced the issue. I'm looking into it right now.

[2017-04-27 16:07] AntiSol commented on #39
brilliant, thanks! :)

[2017-04-29 12:20] devsnd commented on #39
Hey Dale,

I have fixed the problem, thanks again for your bug report! I will release a new version containing the fix right away, but you can always use the master branch here.
If find any other issues let me know.

Have a nice day and you can also keep this toy car 🚗

[2017-04-29 12:20] #39 closed

[2017-04-29 12:21] devsnd commented on #40
Fixed by https://github.com/devsnd/tinytag/pull/41

[2017-04-29 12:21] #40 closed

[2017-04-29 12:30] devsnd commented on #37
Closing due to inactivity, feel free to reopen

[2017-04-29 12:30] #37 closed

[2017-04-29 12:30] devsnd commented on #33
Closing due to inactivity, feel free to reopen

[2017-04-29 12:30] #33 closed

[2017-04-29 14:14] AntiSol commented on #39
Confirmed fixed. Awesome. Thanks so much for dealing with this so quickly - very impressive :)

[2017-07-04 22:42] CodeMouse92 opened #42 "Comment Fields"
Would it be possible for tinytag to expose the ID3 "comment" field?

[2017-07-10 11:16] YuganshT79 opened #43 "Is it Possible to change Tags and Album art?"
Can i edit the tags of media file ,
and also edit ID3v2 tags so that they show up in Windows media player??

[2017-11-05 18:39] devsnd commented on #43
Hey @YuganshT79 sorry, I seem to have missed the notitication for this issue!

Anyway, unfortunately I must disappoint you twice: TinyTag is and will stay a read-only tool. If you want to change tags, there are other, bigger and more complex libraries to do so. e.g. eyeD3

[2017-11-05 18:39] #43 closed

[2017-11-05 18:41] devsnd commented on #42
Hey Jason, sorry for the long wait, I must have missed the notification!

The `comment` field is actually already parsed but not yet exposed. I think it's used for saving the track number in some of the weirder ID3 specs. So technically it should be very simple to make it part of the TinyTag.

Do you want to try to make a PR ready yourself?

[2017-11-19 22:38] CodeMouse92 commented on #42
I would, but honestly, the entire ID3 system makes my head swim.

[2018-02-10 11:16] lbrth opened #44 "How to get the Codec ?"
Hi,

I would like to extract the codec of the music files (mp3, FLAC, ...). The main objectif if to compare all tracks each other to find duplicates and keep the tracks with the best quality.

How I could procede to get the info ?

Thanks,

lbrth

[2018-02-10 17:53] candh opened #45 "Issue with album art data"
I need to get cover art and other data for some of my music files. Seems like most of the tag parsing libraries only give me the cover art of MP3, but that's fine..

Anyways, I couldn't get my image to display because some of the bytes data is truncated, according to Pillow, at least. I even loaded the bytes with the PyQt library to display on the GUI, but it can't load from the data.

Then I load

[2018-02-10 18:34] devsnd commented on #44
Hey Ibrth,

Here's some example code to get you going. I didn't try it out, so there might be a small mistake,  but I'm sure you'll get it to work. This code will look in all directories below `/some/dir/path` and collect artist and titles from all mp3s and flacs. Afterwards it will output all the tracks that have the same artist and name and their file locations. Note that even the smallest diffe

[2018-02-10 18:34] #44 closed

[2018-02-10 18:37] devsnd commented on #45
Hey @candh, thanks for your excellent bug report!

I'd love to solve this, but I still need you to upload the mp3, so I can take a closer look at the data.

[2018-02-10 20:59] candh commented on #45
Thanks @devsnd for the quick reply.

I have uploaded both the mp3s here https://drive.google.com/drive/folders/1WM_wQRmZyp3zCWF2UfI1qnSWwUunHNhf

[2018-02-11 10:03] lbrth commented on #44
Hi @devsnd ,

Thank's a lot for your very helpful reply. To get the codec I did exactly the same thing (get the file extension) but I didn't know the "collections" library, seems to be very powerful, I'm going to win some time with it for the deduplication process  ! For the case where the filename doesn't match exactly, my idea is to normalize all file name as upper case and delete special charac

[2018-02-11 19:01] #45 closed

[2018-02-11 19:08] devsnd commented on #45
Hey @candh,

Thanks for providing the samples. Using the samples and your investigation with the binary diffs I knew that there must be a bug in the parser for the image container, because the image header was missing some bytes in the beginning.

Interestingly the parser problem was masked by another bug (that's why it worked most of the time). So we hit two birds with one stone here! 🐦 🐦 🔫 😸

Yo

[2018-02-11 19:28] candh commented on #45
Sure, no problem! I'll check it out..
Thanks for the great work. 🙂

[2018-02-24 08:08] wtdcode commented on #33
I met the same problem.

TinyTag raised tinytag.tinytag.TinyTagException: Invalid flac header because of ID3 header.

[test.zip](https://github.com/devsnd/tinytag/files/1754152/test.zip)

[2018-02-24 08:30] wtdcode opened #46 "Flac file with an ID3 header meets "Invalid flac header" Exception"
[test.zip](https://github.com/devsnd/tinytag/files/1754162/test.zip)

fail and raise exception in [this line](https://github.com/devsnd/tinytag/blob/77ee3abfbd3c0d64da3e408e4249ad92e838537c/tinytag/tinytag.py#L821)

test file is above.

[2018-02-27 19:34] swagardson commented on #45
I feel like an idiot, because I pip installed tinytag and just hit this same issue and was trying to resolve it (my temp solution was to set `self._image_data = content[desc_start_pos:]`), and then I realized the row counts between the main scripts were off when I looked at the repository...

I see now that 0.19.0 is the current version while PyPI still has version 0.18.0. You live and you learn,

[2018-03-25 03:04] windstrikeONE opened #47 "duration of wav file is 0"
it says the duration of wav file is 0 even though its not

[2018-03-25 03:34] #47 closed

[2018-04-25 08:50] nvnhcmus opened #48 "tintag cannot read webm file meta data"
I cannot read meta data in case file is webm format.

[2018-04-25 16:47] devsnd commented on #48
Hey @nvnhcmus

Sorry, but TinyTag does not support webm at the moment.

[2018-04-25 16:47] #48 closed

[2018-06-20 17:29] undefinedvalue0103 opened #50 "Tinytag throws UnicodeDecodeError:"
When I tries to get tags of valid OGG file with `tinytag.TinyTag.get(path)`, I got this trace:

[code]

Python version: `3.4.0 CPython` on `linux`

[2018-06-20 20:03] devsnd commented on #50
Hi!

Can you please provide a example file, so i can reproduce the issue?

On Wed, Jun 20, 2018, 19:29 Undefined Value <notifications@github.com>
wrote:

[2018-06-21 15:29] dospunk opened #51 "TinyTag gives None for tags generated by Windows Media Player rip"
I'm trying to get the tags of some Wave files ripped from a CD through Windows Media Player, but tinytag is giving `None` for all the tags. If I try to add tags to the files manually with Audacity, I get `struct error: unpack requires a buffer of 10 bytes`. Other Wave files converted from mp3 and tagged using Audacity work fine.

[2018-06-21 17:53] dospunk commented on #51
**Update on what I've found:**

The 10 bytes needed error was caused by Audacity adding an extra empty byte at the end of the file.

The `None` tags error is caused by Windows Media Player not adding the tags in ID3 format, but rather the old LIST format at the beginning of the file

[2018-06-21 17:53] #51 closed

[2018-06-21 18:03] dospunk opened #52 "Request: support for RIFF INFO tags"

[2018-06-24 20:08] undefinedvalue0103 commented on #50
[actor_in_battle_1.ogg.zip](https://github.com/devsnd/tinytag/files/2131165/actor_in_battle_1.ogg.zip)

[2018-07-21 05:18] devsnd commented on #42
Hey bmiller,

it looks like this might be all needed to make this work. Can you make a
pull request? I'll implement the comment field for the remaining formats
then eventually

On Thu, Jul 19, 2018, 22:25 bmiller1961 <notifications@github.com> wrote:

[2018-07-24 05:39] devsnd commented on #42
Hey @bmiller1961,

I am stuck at the airport so I took the time to implement this using your code. The changes are available in the master branch, I will release a version once all the tests run through!

[2018-07-24 05:41] devsnd commented on #52
Hey Connor,

Can you please upload some sample files somewhere so I can take a look? RIFF parsing is actually partially implemented in the `Wave` class already, so maybe it's not a lot of work to get this to work.

[2018-07-24 06:34] devsnd commented on #50
Hey @undefinedvalue0103,

I took a look at the file, and the meta-data of the file does to be corrupt (the audio data is okay though). I will make it so that TinyTag does not crash when parsing such files.

[2018-07-24 06:36] #50 closed

[2018-07-24 06:37] devsnd commented on #50
The change will be released in the next version (something bigger than 0.19.0)

[2018-07-24 12:52] #46 closed

[2018-07-24 19:53] bmiller1961 commented on #42
Hey @ devsnd,
I was out of town for the past few days and just got the messages today. I didn't mean for you to go through the trouble of adding this function but hopefully other people need this.
Anyway I downloaded the new code and it works the same as before with the comment field added. This version and the older version always show the mp3 genre as "other" but I think that is because Windows

[2018-07-24 19:57] bmiller1961 commented on #42
oops. I guess it's a little late to add a pull request. Anyway let me know if that would help and I will be glad to upload the code that I have.

[2018-08-01 20:41] ehudkaldor opened #53 "Request: provide a method that returns all supported formats"
I'm looking for my application to do a conditional like:

essentially, to check programmatically if a file extension is supported before trying to parse metadata. it would help for future changes...

[2018-08-05 12:30] devsnd commented on #53
Hey @ehudkaldor,

excellent suggestion, I will add this to the next release. (You will be notified in this issue when it's implemented in the master branch)

[2018-08-05 12:50] #53 closed

[2018-08-05 12:51] devsnd commented on #53
Hey @ehudkaldor

There is now a `TinyTag.is_supported(filename)` method, that you can use!

[2018-08-12 16:40] doc-jay opened #54 "REQUEST: Support for m4b files?"
Any chance of adding support for m4b files?

thanks!

[2018-08-12 21:08] devsnd commented on #54
Hey doc,

I had never heard of m4b and after a quick search, it seems its practically
equivalent with m4a.

So please do me a favor and rename obe of your m4b files to m4a; if it
works, i will add the support for the m4b extension!

On Sun, Aug 12, 2018, 18:40 doc-jay <notifications@github.com> wrote:

[2018-08-12 21:17] doc-jay commented on #54
sure thing

[2018-08-14 22:19] doc-jay commented on #54
Yep – that worked perfectly.  I’ve updated the issue with my comments.

Thanks!

From: Tom Wallroth <notifications@github.com>
Sent: Sunday, August 12, 2018 4:08 PM
To: devsnd/tinytag <tinytag@noreply.github.com>
Cc: doc-jay <jamie@henningok.us>; Author <author@noreply.github.com>
Subject: Re: [devsnd/tinytag] REQUEST: Support for m4b files? (#54)

Hey doc,

I had never heard of m4b and after a qu

[2018-08-19 18:33] krystalize commented on #35
Hey, I am getting this error. Was there ever a resolution to this?

[2018-08-19 20:54] minus7 opened #57 "Precedence with multiple tag headers"
When a file has multiple sets of tags, say ID3 and FLAC, they are currently just merged, on a first-come-first-serve basis per tag (e.g. if ID3 comes first, has the artist tag set, then the artist tag from the FLAC header is ignored).
Imo, it would make more sense to just use data from one of them, deciding which one of them to use either on the file format (if FLAC, prefer FLAC metadata) or compl

[2018-09-02 02:49] NaturalFigurehead opened #58 "Example for saving album art to a local file"
Is there an example I could use for saving album art to a local file? I'm doing this:
[code]
But then I get a jpg file that can't be opened.

[2018-09-02 14:38] candh commented on #58
This example of yours works fine. (Just remove the indent on line 2), But only in version 0.19.0 (see [#45](https://github.com/devsnd/tinytag/issues/45)) which hasn't been pushed to pypi (idk why). You have to pull the latest changes and install that.

Also, be careful of the extension you're appending to the filename. The image byte data contains a header that specify which type of format it is.

[2018-09-02 16:15] NaturalFigurehead commented on #58
Cool it's working after just including the raw tinytag.py file from the repo.

I was wondering how to determine the file type. How do you extract that header information?

[2018-09-02 17:09] candh commented on #58
You can use Pillow:
[code]
or you can compare the first few bytes with all these headers to check which file you have
[code]
[copied from here](https://stackoverflow.com/questions/3312607/php-binary-image-data-checking-the-image-type)

[2018-09-02 20:32] NaturalFigurehead commented on #58
@candh
sweet, everything's working now. Thanks

[2018-09-02 20:32] #58 closed

[2018-09-27 12:06] diatomee commented on #35
Hey, I have the same problem with some files. I also met him with [music-metadata](https://www.npmjs.com/package/music-metadata) (if it helps).

[2018-09-28 02:38] westcoj commented on #35
Not sure if you looked into it or not. I noticed the issue was occurring when trying to check the duration, specifically on lines 507-510. I looked at the audio files (mp3) that were throwing this but couldn't really make any connections between them that didn't exist between working files. If you specify duration as false all the files work, though if someone needs the duration I guess that doesn

[2018-10-04 08:00] devsnd commented on #54
Hey doc-jay,

In the git version tinytag will now automatically use the MP4 parser for m4b files. It will also be in the next release (0.21.0) which will be released soon.

[2018-10-04 08:00] #54 closed

[2019-01-24 04:44] headrx commented on #51
Was this ever fixed ??

[2019-01-25 09:05] devsnd commented on #51
Probably not. Without a sample file that shows the issue there's nit much i
can do.

So please provide a sample an reopen the issue if this is still a valid bug
report

On Thu, Jan 24, 2019, 05:44 headrx <notifications@github.com wrote:

[2019-02-08 14:41] pmorelli92 opened #61 "WAV file does not print the channels"
Hello, as I describe when using any .wav file I get the following:

[code]

Is there any way to fix this?

[2019-02-11 14:46] devsnd commented on #61
Hey @pmorelli92

You can try to edit this line:
https://github.com/devsnd/tinytag/blob/master/tinytag/tinytag.py#L827

and save the `channels` variable into `self.channels`. I'm not sure it will work as expected though.

[2019-03-21 10:32] comiconomenclaturist opened #64 "Problem reading a wav file (struct.error)"
I have an issue with reading a couple of wav files. They were ripped from a CD using dBpoweramp, but TinyTag can't read them. The metadata can be read by ffmpeg though.

[code]

[2019-03-24 08:53] ianhomer opened #65 "Hangs when parsing of a specific wav file (getting duration)"
I have particular wav file (don't have rights to share though sorry), but when I load with TinyTag the process hangs.

Digging it issue I see that the process is stuck in a loop of scanning the file. I have a fix prepared and I will share branch for consideration.

[2019-03-26 14:00] devsnd commented on #65
Thanks again for your efforts! It's really appreciated. Give me a bit to release a new version, until then you'll have to use the `master` here from github in your requirements.

[2019-03-26 14:00] #65 closed

[2019-03-26 14:00] devsnd commented on #64
@comiconomenclaturist can you please provide a sample so i can reproduce the issue?

[2019-03-26 14:58] comiconomenclaturist commented on #64
@devsnd here you go:

https://oto-public.s3-eu-west-1.amazonaws.com/02%20FME%20(Free%20Music%20Ensemble)%20-%20Part%202%20(for%20Paul%20Lytton).wav

[2019-03-27 06:37] ianhomer opened #67 "Fails to load wav with ID3 with an invalid zero byte header"
I have a wav file that failed to load with TinyTag.  I think it was created it with originally created with audacity a while ago, however I've created a small unit test to simulate the issue.

When I try to load this file I get the error

`
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/nose/case.py", line 198, in runTest
    self.test(*self.arg)
  File "/Users/i

[2019-04-13 14:54] devsnd commented on #67
This is fixed in your PR #68, right? I'm closing this ticket, please reopen if I misunderstood.

[2019-04-13 14:54] #67 closed

[2019-04-13 14:58] devsnd commented on #64
Hey @comiconomenclaturist

Your issue has been fixed by @ianhomer in PR #67

If you install the newest version from pypi you should be good to go!

[2019-04-13 14:58] #64 closed

[2019-04-13 15:19] devsnd commented on #61
Hey @pmorelli92

The issue is fixed in version 1.2.1, please update :dancer:

[2019-04-13 15:19] #61 closed

[2019-04-13 15:22] devsnd commented on #42
Hey guys, this seems to be implemented already, like a long time ago. I'm closing this ticket, have a nice day!

[2019-04-13 15:22] #42 closed

[2019-04-13 16:22] devsnd commented on #35
Hey, a lot of time has passed and newer versions of tinytag handle slightly corrupt mp3 files much better. I'll close this issue, please open a new issue with specific problems, providing samples to reproduce them if you have any problems.

[2019-04-13 16:22] #35 closed

[2019-04-15 10:01] comiconomenclaturist commented on #64
great, thanks! I'll check it out

[2019-05-24 13:35] diatomee opened #69 "Invalid duration"
Hello. I open this ticket which seems to correspond to #37.
I have an album with tracks about twice as long as their true duration. I send a mp3 file by email.

[2019-05-27 23:50] vandys commented on #69
I'm seeing what looks like 2X with an mp3 on this code path:

  if frames == 0 and ID3._USE_XING_HEADER:

mp3 generated by lame, for a 48k ABR mp3.  When I encode at 96k ABR, it's not off by
a factor of 2.  So it appears to be bit rate, not channels, which throws off the interpretation
of the xing header.  My wife's a musician, I can encode one of her tracks (no license issues)
if you need some ex

[2019-05-28 00:59] vandys commented on #69
In any case, in _parse_xing_header() the TOC values are bytes, not 4-byte big endian values.
But that doesn't change the duration calculation...

[2019-06-22 16:20] deepfire opened #70 "Invalid tags from imported m4a"
Bona-fide `.m4a` files as imported from an idevice don't parse:
[code]

[2019-06-22 19:13] #70 closed

[2019-06-22 19:13] deepfire commented on #70
The metadata is indeed unavailable in the files themselves -- it's stored separately in `.plist` files.

[2019-07-06 13:29] aruna09 opened #71 "AssertionError: tinytag .dist-info directory not found"
Exception:
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/pip/_internal/cli/base_command.py", line 176, in main
    status = self.run(options, args)
  File "/usr/local/lib/python3.5/dist-packages/pip/_internal/commands/install.py", line 393, in run
    use_user_site=options.use_user_site,
  File "/usr/local/lib/python3.5/dist-packages/pip/_internal/req/__init__.p

[2019-07-06 17:26] devsnd commented on #71
Tinytag does not have any dependencies. What is the command that results in
this output?

On Sat, Jul 6, 2019, 15:29 Aruna Maurya <notifications@github.com> wrote:

[2019-07-06 18:30] aruna09 commented on #71
Was just trying to build a tool made by someone else. Cant share much as the repo is still private. Anything else that you can think of could lead to a error like this?

[2019-07-06 18:47] devsnd commented on #71
Sorry, without any info i cant help you!

On Sat, Jul 6, 2019, 20:30 Aruna Maurya <notifications@github.com> wrote:

[2019-07-08 05:28] #71 closed

[2019-09-30 15:18] jfu334 opened #72 "Binary paths are not handled"
It seems that the python spec allows pathes to be either strings or binary data. According to stackoverflow this is cause on linux, filenames do not have an encoding but are just a buch of bytes.

In my case, I have a path that is *not* UTF-8 and converting it to an UTF-8 string does not work cause the conversion fails with encoding errors.

Using the os functions (ie. os.stat) to access the file

[2019-09-30 15:53] jfu334 opened #73 "Add an option to ignore encoding errors"
Currently TinyTag fails if it can't decode a string. (line 664, _decode_string)

However when parsing existing data, it happens sometimes that someone wrote garbage into the tags data field. It should be possible to ignore the garbage.

[2019-10-05 13:08] tobinus commented on #71
I stumbled over this error as well, but only on Python version 3.3 (while the original poster seems to be using 3.5). I do not see any error with the same requirements.txt on 2.7, 3.4, 3.5 and 3.6.

It seems to be an error with the wheel, since it works perfectly when I disabled the usage of binary by adding `--no-binary tinytag` to my `pip` command, e.g.:

[code]

Here is the log of a terminal se

[2019-10-05 18:20] bmxp opened #74 "WARNING: Generating metadata for package tinytag produced metadata for project name unknown"

[2019-10-05 18:46] #74 closed

[2019-10-05 22:48] tobinus commented on #71
Correction: This occurs for me when using pyenv with locally built Python versions (installed with pyenv), but not for the Python that was distributed with my Ubuntu. That is, I encountered this with Python version 3.4 as well.

[2019-10-12 13:10] devsnd commented on #73
Hey @jfu334 can you please provide a sample file?

[2019-10-12 17:43] jfu334 commented on #73
Sorry can't post the file here. However while working through my mp3 lib, I've discovered numerous weird or strange tags. One software for example wrote a terminating 0 byte at the end of all strings.

It should be possible to work with such incorrect data as good as possible.

[2019-11-05 15:49] cdhigh opened #75 "Output garbled characters when ID3V1 contains Chinese characters."
I changed this line to `return self._unpad(codecs.decode(x, 'gbk'))` got the correct meta data.
https://github.com/devsnd/tinytag/blob/e9b301d9a9bc2e7645c3b6364a593ce09c32736a/tinytag/tinytag.py#L607

Add an option of encoding? or other solution?

[2019-11-05 18:50] cdhigh commented on #75
Added: ID3V2 has same bug.

[2019-11-08 21:37] cdhigh commented on #75
I try with locale module, it works.
locale.getpreferredencoding(False)
or
decode using `locale.getpreferredencoding(False)`, if failed, try 'latin1'?

[2019-11-12 09:43] timgates42 opened #77 "Small typo in README.md"
Should read stability rather than stabiity.

[2019-12-12 11:03] NitishaS-812k opened #80 "genre of some .mp3 files being shown as "None" when they are not"
I have attached the link for one such file, I used ID3 and obtained the genre to be "Pop",  I also used Rhthymbox to see the metadata of the file and there too the genre was "Pop". However, upon using Tiny Tag, I obtain the genre to be "None".
**output as obtained from eyed3/ID3:**

True

(13)Pop

**output as obtained from tinytag:**

None

link for the file: https://drive.google.com/open?id=1zwBS

[2020-01-10 17:46] marcMeurrens opened #81 "duration of voice notes transmitted by WhatsApp as OPUS files"
When exiftool's 'Vendor' is 'WhatsApp' and tag.samplerate is 16000
the tag.duration value is exactly 3 times the exact value.

small example opus file + comments are in this file
[tinytag_issue.zip](https://github.com/devsnd/tinytag/files/4046924/tinytag_issue.zip)
or available here :
< https://my.pcloud.com/publink/show?code=kZd8hBkZ1CSxm74Kw2zlW92dOpmYf7M5bO0V >

[2020-01-12 23:10] iboros445 opened #82 "Getting album image from a flac file"
when trying to extract album image from a .FLAC file it returns None for me for some reason, MP3 works fine so what can I do with flac?

[2020-01-13 11:31] devsnd commented on #82
Can you send me the flac in question?

On Mon, Jan 13, 2020, 00:10 iboros445 <notifications@github.com> wrote:

[2020-01-30 14:24] iconoclasthero opened #83 "Musepack SV7 support?"
It looks like mpc/musepack should be straightforward to include in tinytag, e.g., it is supported in mediainfo:
`$ mediainfo "/library/music/01-new.music/R.L. Burnside -- Burnside on Burnside (2001) (mpc)/R.L. Burnside -- 01 - Shake 'em on Down.mpc"
General
Complete name                            : /library/music/01-new.music/R.L. Burnside -- Burnside on Burnside (2001) (mpc)/R.L. Burnside -- 01

[2020-02-24 00:45] wjanssen opened #84 "Support explicit filetype passing in TinyTag.get()"
Some music tools, like Python Audio Tools, leave FLAC files in a directory with an extension-less 8-character filename if the constructed filename contains bad characters.  It would be great if tinytag would support these by allowing one to explicitly pass a filename extension into "get()", which it would then pass to "_get_parser_for_filename()".

I would also suggest using os.path.splitext() to

[2020-03-09 19:10] #77 closed

[2020-03-09 19:18] devsnd opened #85 "Detect File Type by File Header Data"
Let's check the magic bits in front of a file to find out what kind of data we're dealing with instead of the file extension.

[2020-03-09 19:19] devsnd commented on #84
Hey @wjanssen,

For the time being you can use the parser class directly, e.g.
[code]

I guess the nicest solution would be to be able to determine the filetype by it's file header instead. I opened a separate ticket for that suggestion here #85

But I guess your use-case still warrants a slight refactoring, I'll look into it.

[2020-03-09 19:49] devsnd commented on #73
Hey, this has been addressed in version 1.3.1

have a nice day, and a piece of cake, if you feel like it, of course :cake:

[2020-03-09 19:49] #73 closed

[2020-03-09 19:50] devsnd commented on #69
Wowzeee, It now takes me a year to answer github issues :cry:

Anyway, if you still have any of the files at hand, please post them, so this issue can be reproduced!

[2020-03-09 20:31] #80 closed

[2020-03-09 20:32] devsnd commented on #80
Hey, I fixed the problem. TinyTag did not handle a certain field-type of ID3 version 2.2 in MP3s in all their weirdness. I made it work now. You can use the `master` branch until I have made a new release.

[2020-03-09 20:36] devsnd commented on #83
Recently I only find the time to write FLOSS code when I travel e.g. on a plane, so I guess I need to take a vacaction far away to get this done...

Anyway, the actual format to handle here is the APE Tags in version 1 or 2
https://en.wikipedia.org/wiki/APE_tag

[2020-03-09 20:39] devsnd commented on #75
Hey cdhigh,

I have another idea to make this possible that is similar to your PR, which is to use `chardet` instead of the system locale. Maybe you can make a test using that library and we could add it as optional dependency to tinytag.

Chardet uses the "letter-frequency" of the bytes to determine which encoding might be successfully used.

https://pypi.org/project/chardet/

[2020-03-09 20:48] devsnd commented on #81
huh. Apparently Opus is *always* 48kHz, and the sample rate is just there to convert to other files

https://mf4.xiph.org/jenkins/view/opus/job/opusfile-unix/ws/doc/html/structOpusHead.html#a73b80a913eca33d829f1667caee80d9e

So I guess I can hard-code 48kHz in the code and it will always be correct? :thinking:

[2020-03-10 03:08] vandys commented on #69
Sure... compare soxi on https://vsta.org/andy/pickup/qz9k29290006-48.mp3 versus what tinytag says for duation.  (It's my wife's track, so copyright/music licensing is no problem, enjoy!)

BTW, welcome back.

[2020-03-10 12:05] cdhigh commented on #75
chardet return latin1 when title contains chars Chineses.

[2020-04-21 01:33] littlebearcookie opened #86 "Can write or edit files tags?"
Hello, This project is so good.
But, I have some question.
This project can write or edit files tags?

[2020-04-23 15:11] devsnd commented on #86
Hello @littlebearcookie,

Sorry, but it does only read metadata, but cannot write any. And I have no plans of implementing writing metadata in tinytag, sorry!

I hope you have a nice day in these weird times! :biohazard:

[2020-04-23 15:11] #86 closed

[2020-04-23 15:12] #85 closed

[2020-04-23 15:38] #81 closed

[2020-04-23 15:39] devsnd commented on #81
Hey, this bug has been fixed in the current master branch, I'll release a new version shortly

[2020-04-23 16:13] devsnd commented on #84
In the `master` branch you can find a version of tinytag that can automatically determine the filetype by the file's magic header bytes. That should fix your issue. If not, please re-open the ticket with a description why this doesn't work for you.

Have a nice day!

[2020-04-23 16:13] #84 closed

[2020-04-23 17:27] #72 closed

[2020-04-23 17:32] devsnd commented on #72
Hey @jfu334

This problem is now fixed in the `master` branch. I will release a new version soon which contains the fix as well.

[2020-04-23 17:56] devsnd commented on #85
This is now released in version 1.4.0 and available in pypi.

[2020-04-23 17:56] devsnd commented on #84
This is now released in version 1.4.0 and available in pypi.

[2020-04-23 17:56] devsnd commented on #81
This is now released in version 1.4.0 and available in pypi.

[2020-04-24 08:49] DohrliOfDeath opened #87 "REQUEST: AAC Support"
Hello, I'm not sure how difficult it would be, but .aac support would be really nice.

It would make sense as .aac is often seen as the successor to .mp3, as it has better or same audio quality, but with a smaller file size.

Thanks in advance

[2020-05-02 12:10] devsnd commented on #87
Hey @DohrliOfDeath

Most of the time aac is actually in a mp4 container, so you can just change this line here:
https://github.com/devsnd/tinytag/blob/master/tinytag/tinytag.py#L119

from

```(b'.m4b', b'.m4a', b'.mp4'): MP4,```

to

```(b'.m4b', b'.m4a', b'.mp4', b'.aac'): MP4,```

Which should do the trick for many files.

Please report back if that works for you, and if it does not, please prov

[2020-05-02 14:23] DohrliOfDeath commented on #87
Yes this worked for me, thank you. However, I don't think this would work for most people, as I tried to create a new .aac file with ffmpeg:
[code]
and this did not work, I got a NoneType from tinytag.

On my part, this solution is fine, but if this problem comes up again, or someone wants to look into it, here is a sample file:
[output.tar.gz](https://github.com/devsnd/tinytag/files/4567906/outpu

[2020-05-07 21:14] franburstall opened #88 "Wrong type for m4a disc and track"
It seems that tinytag returns ints rather than strings for disc and track when reading m4a files (at least that is the case for the few such files I have).

[2020-05-11 14:20] devsnd commented on #88
Can you please provide a sample file for me to be able to debug this issue?

[2020-05-11 14:37] franburstall commented on #88
Here is a sample: [sample.m4a.gz](https://github.com/devsnd/tinytag/files/4610183/sample.m4a.gz)

Tinytag gives:

`{"filesize": 5024948, "album": "Blues, Blues Christmas - Volume 1, 1925-1955", "albumartist": "Various Artists", "artist": "The Cats and the Fiddle", "audio_offset": null, "bitrate": 256.0, "channels": 2, "comment": "", "composer": "", "disc": 1, "disc_total": 2, "duration": 154.04117

[2020-05-11 21:25] devsnd commented on #88
Oh yeah, I see. Well, that should be fixed easily. You can either make a PR that just casts them to `str` in the `MP4` class (and adjust the test cases accordingly), or wait for me to find the time to make the changes myself on a weekend sometimes :)

[2020-05-16 13:22] devsnd commented on #87
Hey Dohrli,

thanks for the sample fiel.

The `aac` you created however is a "pure" audio file, in the sense that it's not inside an audio container format; Usually the container format, like MP4, contain all the data. What's more confusing is that AAC inside an MP4 container often have the `.aac` extension and having `.mp4` as extension often means that it contains AAC, but often is also does not

[2020-06-08 23:44] NathanTech7713 opened #91 "saving tag changes"
Hi there,
Is it possible to save changes made to the tag?
Thanks.

[2020-06-09 17:23] devsnd commented on #91
Nope, sorry, tinytag is read only :-O

Have a nice day

On Tue, Jun 9, 2020, 01:44 nathan smith <notifications@github.com> wrote:

[2020-07-12 01:26] DuckMasterAl opened #92 "Silence MP3 output."
Currently, is there a way to silence the `[mp3] Estimating duration from bitrate, this may be inaccurate` output from checking an mp3's duration?

[2020-07-16 08:54] mo-han opened #93 "Is it capable to change image?"
Just took a glance at those API methods, seems like it cannot be used to set a cover image, is that right?

[2020-08-08 13:36] nensor opened #94 "Add support for unsynced lyrics tag?"
I have a preliminary change in my fork of the library that supports extraction of the USLT lyrics tag if present in mp3 files, using for my own benefit.  Should I submit a pull request for that if there's any interest in using it?

There are a number of utilities out there (e.g., Lyrics Finder, mp3tag, etc.) that find and add lyrics to mp3 files for you, which I used to enhance my own music librar

[2020-08-11 11:19] devsnd commented on #94
Yes, please, that sounds great. My only requirement would be that the lyrics are returned in a json-serializable data structure that is compatible with possibly multiple lyrics formats from different containers. (I don't know if it's just a long string, or if it has time codes, like subtitles for movies)

Generally i just want to keep tinytag as simple as possible, any post-processing of the data

[2020-08-12 10:35] devsnd commented on #94
Hey @nensor , I did some quick investigation, and ID3 supports having multiple lyrics, each having a different language. So an mp3 cannot only contain the original lyrics, but also translated lyrics. This should be part of the returned data structure then.

See here: https://id3.org/id3v2.3.0#Unsychronised_lyrics.2Ftext_transcription

It might make sense to see what other formats support. As menti

[2020-08-12 11:43] nensor commented on #94
Yes, only looked into unsynced at the moment, and the tool(s) I was using seem to indicate an "unspecified" language code ("XXX") yet I have a number of different languages in my music files.  That said, I noted that JSON extraction using the __main__ in my testing might not properly encode for example Japanese; however, when I use csv format, I get the characters properly.

I will submit a pull r

[2020-11-01 15:48] Slimakoi opened #96 "TypeError while getting a ogg file."
Hello. Im using tinytag 1.4.0 with Python 3.
When I try to get the information of a file with the extension `ogg`. It shows this error.
GitHub doesn't support `ogg` files so I uploaded it [here](https://anonfiles.com/f592J4ldp9/groove_ogg).

[code]

Snippet of my code:
[code]

[2020-11-03 02:50] ZekeRedgrave commented on #82
i got the same problem too

here is the sample file

from tinytag import TinyTag
x = "somethin\\in\\here\\blob.flac"

y = TinyTag.get(x, image=True)
y.get_image()

---------- Output -------------------
![image](https://user-images.githubusercontent.com/51784706/97945396-481c7580-1d3c-11eb-8333-10e0104ad90c.png)

[2020-11-05 08:23] devsnd opened #98 "Planned Breaking changes for version 2.0.0"
This is a record of planned breaking changes for a major version change

 - [x] The `track` and `track_total` field should return integers instead of
 - [x] The `disc` and `disc_total` fields should return integers instead of strings
 - [x] Mark TinyTag subclasses as private
 - [x] Mark `audio_offset` field as private
 - [x] Move `composer` field to `extra` dict
 - [x] TinyTagException should not

[2020-11-06 00:24] ironboy1 commented on #82
@devsnd I do have the same issue as @ZekeRedgrave and @iboros445, getting the image of mp3 files works fine but for flac files not. Please find attached a sample flac file.
[01 intro.zip](https://github.com/devsnd/tinytag/files/5498160/01.intro.zip)

[2020-11-06 12:42] devsnd commented on #93
No, sorry, tinytag only provides the means to read data, but not to write any. You need to look into another library for that.

[2020-11-06 12:42] #93 closed

[2020-11-06 12:47] devsnd commented on #92
What you seem to refer to is an output delivered by ffmpeg and not tinytag. Please feel free to reopen the issue with more details if this is not the case.

[2020-11-06 12:47] #92 closed

[2020-11-06 13:37] devsnd commented on #96
Interesting. This seems to be an issue with Flac-to-ogg mapping. (It turns out your ogg file is a flac in disguise).

I need to check the documentation and find a way to read these streams correctly at a later point in time. Here's the docs:
https://xiph.org/flac/ogg_mapping.html

[2020-11-06 14:50] devsnd commented on #82
Hey everybody,

Reading of images in Flac had not been supported by tinytag up to this point. Luckily I found some time to actually implement the feature today. Please just use the git version of tinytag until the next release in which this feature will be available from pip.

Thanks @ironboy1 for providing the sample file!

I hope all of you have a nice day, I wish you all the best in these weird

[2020-11-06 14:50] #82 closed

[2020-11-06 15:29] devsnd commented on #69
Hey @vandys , thanks for the sample file. That and your comment about an off by a factor of 2 lead me to some investigation about the mp3 format. It turns out that the mp3 frames have 1152 samples *per channel*. My test for the xing header was using a mono-channel file, so your stereo file was off by a factor of 2 :facepalm:

Anyway I have fixed the issue an your file is now correctly read. I am u

[2020-11-06 15:29] #69 closed

[2020-11-06 15:30] #91 closed

[2020-11-06 15:31] devsnd commented on #88
Fixed in #97

[2020-11-06 15:31] #88 closed

[2020-11-06 20:34] Slimakoi commented on #96
Thanks for looking into it!

[2020-11-06 20:55] vandys commented on #69
Thanks much!

[2020-11-16 22:01] mathiascode opened #99 "Bitrate not detected for certain MP3 file"
It seems like there is an issue detecting the bitrate for the following MP3 file: [nicotinetestdata.zip](https://github.com/devsnd/tinytag/files/5549957/nicotinetestdata.zip)

I don't know how the file was originally created, but replacing
[code]
with
[code]

at lines 617-618 in tinytag.py seems to generate the desired bitrate (at least the same value as reported by mediainfo and taglib).

I haven

[2020-11-17 14:47] mdougher opened #100 "extra 10 bytes to start get_image() ?"
Hi,
not sure if this is an issue, or I am not using TinyTag properly!

I am using tinytag to get image data embedded in my audio files, and passing the image data into PIL/Pillow. i have noticed that *some* of the image data cannot be loaded.
upon closer inspection of the data, it appears that I am getting a strange 10 B prefix for all of the ones that fail.

Here's a code fragment:
[code]
I notic

[2020-11-17 16:22] mdougher commented on #100
ok, so after giving this a lot more thought, i think this is an issue with my audio files. seems to follow ALL of the files that have been downloaded from bandcamp.com have this...
if i use musicbrainz picard to extract the image, it does not have this leading 10 B. i can then re-apply this image to the mp3 using picard and then view it from tinytag and the leading 10 B are no longer there.

so, i

[2020-11-27 00:50] JDonner opened #101 "No video bitrate from .mp4 files"
You do get a bitrate, but it's audio. I don't see anything for the video bitrate.

Installing collected packages: tinytag
Successfully installed tinytag-1.5.0

{"album": null, "albumartist": null, "artist": null, "audio_offset": null, "bitrate": 125.588, "channels": 2, "comment": null, "composer": null, "disc": null, "disc_total": null, "duration": 47.95, "filesize": 6006976, "genre": null, "sampl

[2020-11-27 09:36] devsnd commented on #101
Hello Jeff, I'm sorry to inform you that tinytag only reads metadata from audio files, video files are not supported.

Good luck with your video project however, have a nice day day!

[2020-11-27 09:36] #101 closed

[2020-12-04 11:14] tcarroll2 commented on #94
Not exactly sure what you mean by the above statement.  In the link you posted, 4.9 discusses the standard for unsynchronized lyrics (tag USLT), and 4.10 discusses the standard for synchronized lyrics (tag SYLT).  I came here because someone mentioned this is the latest swiss army knife for ID3 tagging.  Unfortunately if the USLT option isn't available this library won't meet my needs.  However, t

[2021-01-18 21:33] paulreimer opened #102 "Feature Request: TKEY / "Initial Key" tag"
This (free-form string) tag is very useful for DJing, where you can store the name of key ("C#", "Eb", etc) for use when deciding which songs may play well together.

[2021-01-25 18:35] paulreimer opened #103 "Feature Request: AIFF Support"
`*.aif`, `*.aiff` files are my preferred format for downloading from music sites such as bandcamp or beatport. They are well-supported by music editing software (GUIs, DAWs); in my experience with these apps in the past, tagged AIFs were more likely to work/have readable tags than tagged WAVs.

[2021-02-25 00:50] RileyTheEcon opened #104 "Feature Request: Include Additional Tags"
Would it be possible to include coverage of additional tags, like "Director"?

I am trying to build a program for organizing my library of movies (MP4s) and TinyTag could help a lot with extracting information saved in each of the files; however, it currently does not support the 'director' tag. I tried to edit the tinytag.py code to add this functionality by including an entry for "directors" eve

[2021-03-02 20:53] Crozzers opened #106 "First character of title, artist and album cut off"
I noticed that, when using tinytag on certain mp3 files, the first letter of the title, artist and album are cut off.
[code]
When using `mutagen.easyid3` the problem dissapears
[code]

I have traced the problem to `ID3._decode_string` in `tinytag.py`.
They bytestring input (for the title) is:
`b'\x01T\x00o\x00n\x00y\x00 \x00H\x00a\x00w\x00k\x00 \x00V\x00S\x00 \x00W\x00a\x00y\x00n\x00e\x00 \x00G\x0

[2021-03-04 18:26] PythonMods opened #107 "Unable to import module 'tinytag'"
I have used this code:
`from tinytag import TinyTag, TinyTagException`
And I get an error saying: "No module named 'tinytag'"
I have definitely installed it using: 'pip install tinytag'
I am using Python 3.9.1 x64.

[2021-03-28 12:53] devsnd commented on #106
Hey @Crozzers

Can you please provide a sample file?

It's possible that there a file formats that are not really compliant with the standards, but I want tinytag to be as compatible as possible, so I'd rather fix these quirks instead of sticking to the - admittedly crappy - standards.

[2021-03-28 12:58] devsnd commented on #107
Hey @PythonMods

I have just created a virtual env using python 3.9.**2** on my machine (maybe the patch-level does the trick, but I doubt it), installed tinytag in there and `from tinytag import TinyTag, TinyTagException` worked without a hitch. There must be something off with your python installation or your `PYTHONPATH` maybe?

I will close the bug for now, please feel free to reopen if you ha

[2021-03-28 12:58] #107 closed

[2021-03-28 13:03] devsnd commented on #104
Hey @RileyTheEcon

TinyTag isn't really meant for movie files, but I'd happily support additional meta data.

I thought it would be nice to have a section in the tinytag return value for any additional data that has been found in the tag:

e.g.
[code]

in that way tinytag always reliably returns audio meta data in the same format, and additional meta data can also be retrieved, but is not guarante

[2021-03-28 13:12] devsnd opened #108 "Feature: Various Extra Meta Data"
The variety of different file formats have also different capabilities. Each format may or may not provide some additional data that is not existing in another file format.

Currently TinyTag mostly reports metadata that is common among multiple formats. This however means that a lot of extra data is not returned, even though it's correctly recognised by the different parsers.

This feature would

[2021-03-28 13:15] devsnd commented on #100
Hey @mdougher

Sorry for the late answer! One of the benefits of fatherhood is having no free time at all anymore :sweat_smile:

Could you provide a sample file with the broken artwork? I think searching for the JFIF header might be an okayish hack, but I'd rather figure out whats really going on as artwork is not guaranteed to be a jpeg as well.

[2021-03-28 14:21] devsnd commented on #108
This has now been implemented.

Extra fields can be added, by changing the field-mapping so that it writes to a field that is prefixed with `extra.` so for example I added support for the `TXXX` ID3 text field, by adding a field mapping called `'TXXX': 'extra.text'`.

See here:
https://github.com/devsnd/tinytag/blob/a7108203d798967dc04d89ab98899dfc14529417/tinytag/tinytag.py#L450-L451

[2021-03-28 14:21] #108 closed

[2021-03-28 14:24] devsnd commented on #102
Hey @paulreimer

This data will be part of the `extra` field as described in #108.

You can use the feature already by using the development version in the `master` branch.

[2021-03-28 14:24] #102 closed

[2021-03-28 14:30] devsnd commented on #94
Hey @tcarroll2 and @nensor

This USLT data will be part of the `extra` field as described in #108, which can be accessed like this
[code]

You can use the feature already by using the development version in the `master` branch or you can wait for the next release.

[2021-03-28 14:30] #94 closed

[2021-03-28 14:59] Crozzers commented on #106
I think its entirely possible that the file is invalid because I ripped it from YouTube with YouTube-DL so I wouldn't be surprised if that generated some inconsistencies.

Here's a drive link to the file
https://drive.google.com/file/d/1Tvf8eyjxORmuDLc3mEuXuw0YDtudR5xC/view?usp=sharing

[2021-03-28 23:20] mdougher commented on #100
no worries there, i totally understand!
again, i don't believe this to be a tinytag issue after spending more time on this. My gut tells me this is coming from bandcamp's download process... But i'll send you what i can and you can make your own decision.

For unrelated reasons, i went through my whole music library to get musicbrainz metadata, and part of that involves updating the album art for

[2021-03-28 23:33] mdougher commented on #100
i see the same thing when i download a single track from bandcamp. Seems you can only do this when you purchase a single or an individual track. anyway, it looks the same, but i'll attach it here. Only changes to this one is zipping it up to attach to this comment. otherwise, it is exactly as i downloaded it.

My usual download flavor from bandcamp is MP3 V0. I changed to MP3 320, same thing.

i t

[2021-03-28 23:39] mdougher commented on #100
just want to say again, that i don't believe this to be an error in tinytag, but maybe you could make an argument for attempting to support stuff like this? i agree that your idea of searching for the header sounds a little hack-ish... from my point of view, i'm not sure i would want that to be always on, but maybe having an option to turn on different kinds of image parsing might be less hack-y?

[2021-04-30 16:22] idotobi opened #109 "Deprecation Warning in python 3.9"
**Describe the bug**
There's a deprecation warning when using tinytag in python 3.9 which would cause a problem in python 3.10.

**To Reproduce**
 1. Import `tinytag` in your python project
 2. Run pytest

**Expected behavior**
No Deprecation Warning

**Sample File**

[code]

[2021-05-21 15:34] #103 closed

[2021-05-21 20:16] paulreimer commented on #103
This is awesome, thank you!

It's working well in my application, and I am now able to use tinytag exclusively for all my files.

[2021-05-24 08:59] devsnd commented on #109
Your PR fixes the warning, right? I'm closing this issue then. Feel free to reopen if there's still a problem

[2021-05-24 08:59] #109 closed

[2021-05-27 05:29] aw-was-here commented on #100
So after adding the AIFF support in #111 & #112, I'm seeing this issue with Bandcamp built AIFF's. I have a hypothesis as to what is going wrong.  What I think TinyTag is missing is part of the spec implementation:

[code]

o\x00v\x00e\x00r\x00\x00 == over\00. Sure looks like 'cover'. Let's pop it into a hex editor:

[code]
APIC ... image/jpeg ... cover ... JFIF.

It really looks to me like TinyTa

[2021-06-27 09:31] punchagan commented on #109
Thanks for this fix, @devsnd. Would it be possible to put out an update on PyPI with this fix? Thanks for the wonderful package, `tinytag`!

[2021-07-15 22:49] amiantos opened #114 "Load metadata from URL"
**Is your feature request related to a problem? Please describe.**
It'd be nice if I could load metadata from a file URL versus downloading the file first to grab the metadata.

**Describe the solution you'd like**
Provide a URL instead of a path to a file when doing `get`.

**Describe alternatives you've considered**
I can download the file locally and use `NamedTemporaryFile` to load it, but may

[2021-07-17 10:38] devsnd commented on #114
Hey Brad,

Thanks for your suggestion!

I'm sorry but this features outside of the scope of this project. Most of
the logic relies on being able to seek freely inside of the file. Therefore
there is no upside in streaming any data from an URL (as the file would
need to be downloaded fully in any case).

Using a named temporary file and the requests module you can achieve what
you want with just tw

[2021-07-17 11:05] #114 closed

[2021-07-19 15:39] amiantos commented on #114
No problem. I agree with passing in a stream of bytes, that would have also solved my 'problem' as well. Thank you for the very useful library.

[2021-08-19 11:32] Khailz opened #116 "Support BytesIo objects for tagging"
It would be awesome to support BytesIO or any other IO types with TinyTag. This way it can be used in some scenarios where files are packaged and do not have a normal path.

[2021-08-28 09:24] #100 closed

[2021-08-31 13:03] Cykooz opened #117 "[BUG] Version 1.6 returns invalid content of cover image from mp3-file"
Example of mp3 file with cover image:
[12oz.zip](https://github.com/devsnd/tinytag/files/7084033/12oz.zip)

`tinytag 1.5` returns a valid image.
`tinytag 1.6` returns an image without a few bytes (15 bytes) from the start of the image data.

[2021-09-04 18:43] armsby opened #118 "[BUG] multiple text tags in MP4 does only return the first"
**Describe the bug**
if your MP4 file contains multiple text tag b'----' it only returned the first,

**To Reproduce**
any file with multiple ---- tags

**Expected behavior**
as those tags has there own name in the I would expected it to use that and put it in the extra dict

"                     pos: 8857073 atom: b'----' len: 78"
"                         pos: 8857081 atom: b'mean' len: 28"
"

[2021-09-29 13:09] tjconnelly opened #120 "this one file..."
hello, tinytag is wonderful and i'm sorry to post what is basically a support forum kind of question, but:

there's this one file i have where tinytag doesn't return artist info. given error rates overall i'm inclined to believe tinytag, but the thing is i've rewritten the artist info with both Meta and Swinsian and still no dice.

do you, or anyone in the community, have any advice for ironing th

[2021-09-29 14:07] tjconnelly commented on #120
i see now also some folks are attaching files; i'm happy to do that if asked

[2021-10-31 22:36] ernieIzde8ski opened #121 "[BUG] TinyTag cannot properly read metadata of two folders"
**Describe the bug**
When processing my music library, two albums consistently could not have their genre read properly.

**To Reproduce**
Steps to reproduce the behavior:
1. `from tinytag import TinyTag; print(TinyTag.get("01. Time What Is Time.mp3").genre)`
2. output is "Other"

**Expected behavior**
Expected output should be "Power Metal."

**Sample File**
https://we.tl/t-qYhsGA9wrq

[2021-11-20 05:37] trialtest-dev opened #122 "Feature Request: Adding Song Titles"
**Is your feature request related to a problem? Please describe.**
I'm a very new python dev trying to make a simple script to extract file names and sound titles from wav files. Audacity automatically puts labels into the title metadata when I export, which is awesome since I transcribe with them. Unfortunately, using file.title() returns the name of the file, not the "Title" of the song circled

[2021-11-27 13:23] devsnd commented on #122
Hey @trialtest-dev ,

I'm not sure I understand. Could you be so kind to provide a sample file and the code you run and the expected output?

Because you are able to get the meta-data title from a track by using this code:
[code]

I'm not sure what you differently to get the filename?

[2021-11-27 13:24] devsnd commented on #121
Sorry @ernieIzde8ski , it took me too long to try to download the file and the link has expired, can you upload it somewhere else, where the files don't expire that quickly please?

[2021-11-27 13:25] devsnd commented on #120
Hey @tjconnelly ,

Yes, please provide the file in question, so we can reproduce the error, so that we can fix it in turn :)

[2021-11-27 13:27] devsnd commented on #118
Hey @armsby ,

Yes, please provide a sample file so that I can take a look

[2021-11-28 01:13] ernieIzde8ski commented on #121
Sure, [https://drive.google.com/file/d/1RGXO56oXYGeaJgmkYWDaI9OzwHV2-NL4/view?usp=sharing](here's a Google Drive link)

[2021-11-29 03:01] trialtest-dev commented on #122
Hey, I checked back and while my code was identical to yours, it seems to have fixed itself. I guess it was a problem on my end. Thanks for the quick response!

[2021-11-29 03:01] #122 closed

[2021-12-01 12:46] cskau opened #123 "[BUG] AIFF text should be treated as UTF-8"
While the [AIFF 1.3 spec](https://web.archive.org/web/20171118222013/http://www-mmsp.ece.mcgill.ca/Documents/AudioFormats/AIFF/Docs/AIFF-1.3.pdf) says that text fields "contain pure ASCII characters", it also says:

And in practice AIFF files are nowadays often tagged with UTF-8 encoded text, rather than simple ASCII.

Trying to load such an AIFF file with TinyTag will currently result in an excep

[2021-12-13 10:49] #121 closed

[2021-12-13 10:51] devsnd commented on #121
Hey @ernieIzde8ski,

Thanks for your sample. I was now able to reproduce and to the issue. There are two sources for tag data in that file and one overwrote the other. TinyTag will now preserve the more modern tag data instead of overwriting based on which ever data comes last.

The fix is in the master branch. I'll make a new release in due time, but until then you can just use the master version

[2021-12-13 11:48] #117 closed

[2021-12-13 14:20] devsnd commented on #117
Hey @Cykooz ,

Thanks for the report and for providing a sample file. I was able to reproduce and to fix the issue. It will be part of the next release. Until then, you can use the version from the master branch to get the fix right away

[2021-12-13 14:24] #123 closed

[2021-12-13 14:25] devsnd commented on #123
Hey @cskau ,

I made the changes you suggested and UTF-8 in AIFF is now supported in the master branch. this will be part of the next release.

[2021-12-13 14:38] #99 closed

[2021-12-13 14:39] devsnd commented on #99
Thanks again for the report @mathiascode as well as the proposed fix that led me to the problem origin!

A fix is ready in the master branch. The next version of tinytag will also contain it. You can check out the master branch until then

[2021-12-13 14:40] devsnd commented on #75
Hey @cdhigh ,

Could you please provide a sample file so I can reproduce the bug?

[2021-12-13 16:37] cskau commented on #123
Fantastic! Thanks a lot.

[2021-12-13 16:50] cdhigh commented on #75
https://we.tl/t-cs2f6K6j66

[2021-12-14 10:19] #75 closed

[2021-12-14 10:25] devsnd commented on #75
Hey @cdhigh

Thanks for providing a sample file, I was able to reproduce the bug. Unfortunately, there is no way to automatically detect the correct encoding for gbk encoded files. (As you also saw, chardet misdetects it as another encoding).

I don't want to fill the library with code that guesses encodings based on system settings and whatnot, so instead I opted to allow for overriding the defau

[2021-12-14 10:50] #106 closed

[2021-12-14 10:51] devsnd commented on #106
Hey @Crozzers,

I was able to reproduce the issue and have created a fix. You can use the version in the master branch to get the fix right away. It will also be part of the next release of tinytag.

Thanks a lot for reporting the bug and for providing a sample.

I wish you a nice day, here's a piece of cake for you :cake:

[2021-12-16 05:14] mathiascode opened #124 "[BUG] Incorrect bitrate and duration for VBR mp3s"
**Describe the bug**
tinytag currently returns an incorrect bitrate and duration for several VBR encoded MP3 files, as seen in this screenshot:

![Screenshot from 2021-12-16 07-06-18](https://user-images.githubusercontent.com/8754153/146311644-4117aa5d-d879-4d1b-b169-04f7a3be4796.png)

There seem to be two issues that are causing this:

The number of audio channels is included in this calculation,

[2021-12-16 17:34] Foxtrot0711 commented on #124
I've noticed the same errror, not only for small files, but for almost every file I tried until now (except for CBR 320)
Bitrate is always double as it should be -> duration is half.
I've tested it with version 1.6 and 1.

[test.zip](https://github.com/devsnd/tinytag/files/7729305/test.zip)
7

[2021-12-16 18:55] mathiascode commented on #124
@Foxtrot0711 This branch should fix the issue (for files with Xing headers). Could you check if it works fine with your files? https://github.com/mathiascode/tinytag/tree/vbr-incorrect-duration

I believe files with VBRI headers still have issues, but I haven't looked into that. tinytag reports a bitrate of 125 kb/s for `tinytag/tests/samples/vbri.mp3`, while MediaInfo reports 233 kb/s, but that f

[2021-12-16 22:36] Foxtrot0711 commented on #124
works fine.
Thank you!

[2022-02-05 21:47] enzanki-ars commented on #124
I just ran into this same issue myself, and testing out that branch also fixed the issue for me.

[2022-02-16 19:19] tjconnelly commented on #120
i am the monster who never noted which file it was and now cleaning up tickets i realize i did not follow up. if i encounter it again i will revisit, meanwhile apologies, thanks.

[2022-02-16 19:19] #120 closed

[2022-02-25 02:05] Dizzy611 opened #134 "[BUG] UnicodeDecodeError on valid MP3 file"
**Describe the bug**
The following results from trying to do a TinyTag.get() on the A Perfect Circle song "Counting Bodies Like Sheep to the Rhythms of the War Drums" from the album eMotive, from my personal collection. Uploaded in Sample files.

Traceback (most recent call last):
  File "C:\Users\dmorrison\AppData\Roaming\Python\Python310\site-packages\tinytag\tinytag.py", line 794, in _decode_st

[2022-03-04 10:01] #134 closed

[2022-03-06 13:33] mathiascode opened #138 "Make use of code linting"
**Describe the solution you'd like**
Code linting would help keep the code base free from common bugs and style violations, and make it easier to include the tinytag.py file in other projects.

**Additional context**
A combination of flake8 and Pylint has given me good results in my own Python projects, and those seem to be the main linters around.

GitHub Actions could be used to run flake8 and P

[2022-03-12 15:53] devsnd commented on #116
Have you tried using the parser classes directly? If you know what kind of file type you're handling, you should be able to use:

[code]

I agree that this is pretty ugly API wise, so we can discuss how we could make this more accessible, but I think this should work.

[2022-03-12 17:13] devsnd commented on #124
FYI, I've applied @mathiascode fix to the master branch and will release a new version containing the fix shortly.

[2022-03-12 17:13] #124 closed

[2022-04-05 06:00] CodSnow opened #143 "How to handle filebuffer instead of filenames"
Obtaining audio files via network transfer
* e.g:
    - img = request.file.get('xxx')  &emsp;&emsp; #
      img_buff = BufferedReader(img)
      img_byte = BufferedReader.read(img_buff)
                 &emsp;&emsp;                Flac_info = Flac(img_buff, len(img_byte))
                &emsp;&emsp; info = Flac_info.load(tags=True, duration=True, image=True)

Then an error occurs：
&emsp;&emsp;Inv

[2022-04-05 06:31] CodSnow commented on #116
source code：
* class TinyTag(object):
    def __init__(self, filehandler, filesize, ignore_errors=False):

* Filesize is required

[2022-04-05 07:44] CodSnow commented on #116
An error occurred：Use `TinyTag.get(filepath)` instead of `TinyTag(filepath)

[2022-05-19 20:25] Obliman opened #145 "[BUG] Some mp3 files report 1/2 of actual duration"
**Describe the bug**
I have a large list of mp3 files and have noticed that a subset of those files does not have the correct duration from `tag.duration`. It is consistently ~1/2 the real value as reported by the built-in audio player.

**To Reproduce**
Simply load and read the mp3 file duration.

**Sample File**
I retrieved some metadata that I thought was relevant for some example files, shown

[2022-05-19 23:40] mathiascode commented on #145
I assume you're using tinytag 1.8.1? I could take a look if you email me the files.

[2022-05-21 01:53] Obliman commented on #145
Aha... I double checked my tinytag version and it was still 1.8.0. Updating to 1.8.1 fixed the issue.
Thanks for the help.

[2022-05-21 01:53] #145 closed

[2022-06-05 09:32] zhiyiYo opened #146 "Some MP3‘s genre cannot be read correctly since v1.8.0"
**Describe the bug**
Some MP3‘s genre cannot be read correctly since v1.8.0.

**To Reproduce**
The test code is as follows, and the read genre is an empty string:
[code]

**Expected behavior**
I can get the correct genre as Pop in v1.7.0

**Sample File**
[aiko - 星のない世界.zip](https://github.com/devsnd/tinytag/files/8839689/aiko.-.zip)

[2022-06-08 15:49] mdougher opened #150 "[Question] - detect image encoding / format"
a sort of followup to #100 / #113
I have a situation where i need to detect the image character set as the formatting found in #100 / #113 cause image loading to fail. Basically, the head unit in my car also fails to parse these files (apparently), and produces no album art.

Right now, i can get by using an older version of tinytag that does not have the fix from #100 / #113 . I try to load the i

[2022-06-10 06:05] jamesdean94 opened #151 "tag artist, quando adicionado mais de um artista a string fica mal formatada."
Identificação em arquivos com extensão .mp3. Podendo se estender para
outros tipos de arquivos.

Bug: mal formatação de string.
Modulo: tinytag.py
Descrição:
Ao inserir mais de um artista na tag artist (artista da faixa) ambos os nomes
dos artistas ficam juntos. por exemplo: Maria Clara; Karla --> Maria ClaraKarla
No modulo tinytag.py na função _unpad(s) alterei a linha que consta:

     return s.

[2022-07-02 15:22] devsnd commented on #98
Question from mathiascode: Should we keep exposing MP3, OGG etc interfaces directly, or only the TinyTag interface in the 2.0 release?

[2022-07-02 15:31] devsnd commented on #151
Would you mind posting in english? You can use any web translation service and we'll be able to talk :)

[2022-07-18 13:54] mmazurekdev opened #153 "[BUG] struct.error: unpack requires a buffer of 4 bytes"
**Describe the bug**
When I trying to get file duration:
`TinyTag.get(filename).duration`

and for some files I have exception:

[code]

**Expected behavior**
I think that the file is damaged but tinytag should return 0 for duration, not raising strange exception. Or raising own exception.

**Sample File**
I can't upload it :(

[2022-07-18 16:24] mathiascode commented on #153
I could look into the issue. Can you attach the file in a zip archive, or send it to my email (on my profile)?

[2022-07-19 07:22] mmazurekdev commented on #153
@mathiascode I sent file to you (mail).

[2022-07-19 09:58] mathiascode commented on #153
Thanks, I found the issue:
https://github.com/devsnd/tinytag/blob/1fb8d78551d735597d042e2c5993173bd1aa36a5/tinytag/tinytag.py#L600-L601

TOC is 100 bytes, but we're currently reading 400 bytes. Seems like nobody noticed this error, since the values for TOC and VBR SCALE aren't used anywhere in tinytag. I'll just comment out this code to avoid unnecessary work.

[2022-07-19 12:57] mmazurekdev commented on #153
Thanks @mathiascode !

[2022-07-21 07:48] mmazurekdev commented on #153
@mathiascode I have one more question, do you know, when PR will be merged?

[2022-07-21 10:18] mathiascode commented on #153
Whenever @devsnd has time to merge it, but I don't know when that is.

[2022-08-13 15:07] #153 closed

[2022-08-13 15:07] devsnd commented on #153
Just merged it, will release a new version with the fix soon.

[2022-08-13 15:17] #146 closed

[2022-09-01 15:22] Uninen opened #155 "[BUG] Parsing mp3 file w/ valid TDRC tag does not populate year"
**Describe the bug**

When parsing a mp3 file w/ valid v2.4 metadata and a TDRC frame, TinyTag does not populate the year attribute in the output.

**To Reproduce**

Steps to reproduce the behavior:

1. Open a valid mp3 file w/ TinyTag
2. See `Found id3 Frame TDRC` in the program output
3. Resulting dict still has `"year": null`

**Expected behavior**

Valid timestamps (yyyy, yyyy-MM, yyyy-MM-dd,

[2022-09-01 15:28] Uninen commented on #155
Opening above 1s test file with following code:

[code]

Outputs:

[code]

[2022-09-01 15:41] Uninen commented on #155
I'm not too familiar with ID3 tags nor this repo but mapping `"TDRC": "year"` in `FRAME_ID_TO_FIELD` ( https://github.com/devsnd/tinytag/blob/master/tinytag/tinytag.py#L484) seems to fix the issue. Not sure if it has any side effects, tho. I'm happy to write a PR if it helps 👍

[2022-09-01 19:38] mathiascode commented on #155
Looks like the `TDRC` frame was added in ID3v2.4: https://eyed3.readthedocs.io/en/latest/compliance.html#v2-4-2-3-mappings

Since the README of tinytag mentions `year or data as string` (should read date instead of data) after the `year` attribute, I think your mapping should be enough.

[2022-09-02 01:49] Uninen commented on #155
I created a PR for the fix. The tests broke with the change because few of the sample mp3:s had the TDRC frame and did not previously find a year but now do. I just fixed those test fixture, didn't write any new tests for this.

All the tests pass for me locally at least (the PR didn't have permissions to run them yet).

I hope this helps! 👍

PS. Thank You for this library -- it's a great tool!

[2022-09-13 01:14] mathiascode opened #158 "Replace deprecated aifc module"
Python 3.11 deprecated the `aifc` and `chunk` modules. They are slated for removal in Python 3.13.

https://peps.python.org/pep-0594/#deprecated-modules

[2022-09-29 12:39] devsnd commented on #158
Oh, didn't see that coming! Thanks for keeping an eye out, Mathias! I guess we'll be able to do an implementation that is a little more "compact" that the original module, which weights in at about the same number of SLOC as the whole of tinytag ;)

[2022-09-29 12:55] #155 closed

[2022-10-21 13:29] RanTalbott opened #162 "[BUG] TDRC tag not captured as "year""
**Describe the bug**
I have a program that captures album information from my collection to a spreadsheet. Files tagged with TDRC came up with an empty year cell.

This change to 1.8.1 caused tinytag to capture the tag to .year, instead of "extra.tdrc"
490c490
<         'TYER': 'year', 'TYE': 'year',
---

501a502

[2022-10-21 13:32] RanTalbott commented on #162
Here's the diff without the editor's garbling

[code]

[2022-10-21 13:41] mathiascode commented on #162
Thanks for the report. This was previously reported in https://github.com/devsnd/tinytag/issues/155, and is fixed in master (248b2eba7b0664b8b6e35257e216079865e4996f).

Hopefully a new release will be available in the near future, when @devsnd has time.